<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <header>
        {% include 'header.html'%}
    </header>
    <!-- About Section -->
    <div class="container mx-auto mt-8 px-4">
        <h1 class="text-3xl font-bold mb-4">About Us</h1>
        <p class="text-gray-700">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tempor feugiat justo vel ultrices.
            Nulla facilisi. Vivamus vel quam a orci interdum vulputate. Morbi malesuada, libero at congue hendrerit,
            elit libero convallis purus, non vestibulum orci sapien id nunc.
        </p>
        <p class="text-gray-700 mt-4">
            Proin sit amet sollicitudin sapien. Ut congue nisl nec lectus tristique, vitae hendrerit ipsum mattis. Nam
            vel quam a urna ultrices maximus non id lorem. Mauris eu nulla in nunc commodo aliquet sit amet id orci.
            Vivamus nec orci vitae dui sagittis tristique ut et erat.
        </p>
        <p class="text-gray-700 mt-4">
            Sed id ultrices dolor. Nam nec lectus id diam tincidunt sagittis. Duis aliquet felis a purus mattis, vel
            aliquam lorem pretium. Nunc tincidunt ullamcorper elit vel laoreet.
        </p>
    </div>
</body>

</html>
